<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Dashboard</title>

    <!-- Third party CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
</head>

<body>
<div class="container-fluid main_body_div">
    <div>
        <h1 class="text-center mt-5">Welcome to the Dashboard</h1>
        <p class="text-center">Here you can redirect to the Admin or User Dashboard based on your role.</p>
        <div class="text-center mt-4">
            <a class="btn btn-primary admin_dashboard_btn"
               id="adminDashboard"
               th:href="@{/admin-dashboard}">
                <i class="fa fa-user user_dashboard_i"></i> Admin Dashboard
            </a>

            <a class="btn btn-secondary user_dashboard_btn"
               id="userDashboard"
               th:href="@{/user-dashboard}">
                <i class="fa fa-user user_dashboard_i"></i> User Dashboard
            </a>
        </div>
    </div>
    <div class="mt-5 d-flex justify-content-end">
        <a class="btn btn-outline-danger btn-sm rounded-pill d-inline-flex align-items-center px-3 py-2 rounded-pill shadow-sm"
           th:href="@{/logout}">
            <i class="fa fa-sign-out mr-1"></i> Logout
        </a>
    </div>
</div>
</body>
</html>